In [1]:
dct = { 1 : {'name' : 'rosh', "price": 22 , "qn": 2, "billi": 1 },
       2 : {'name' : 'mann', "price": 32 , "qn": 2, "billi": 2 },
       3 : {'name' : 'jyoti', "price": 12 , "qn": 2, "billi": 3 }}

In [2]:
dct[1]['qn'] = dct[1]['qn'] - 5

In [3]:
dct

{1: {'billi': 1, 'name': 'rosh', 'price': 22, 'qn': -3},
 2: {'billi': 2, 'name': 'mann', 'price': 32, 'qn': 2},
 3: {'billi': 3, 'name': 'jyoti', 'price': 12, 'qn': 2}}

In [4]:
if (1 in dct.keys()):
  print("Prod Exist")

  dct[1]['qn'] = dct[1]['qn'] + 50

else:
  print('dosnt exist')


  dct[1] =  {'billi': 1, 'name': 'rosh', 'price': 22, 'qn': 1}

  
  print("New product added to inventory")

Prod Exist

In [5]:
dct

{1: {'billi': 1, 'name': 'rosh', 'price': 22, 'qn': 47},
 2: {'billi': 2, 'name': 'mann', 'price': 32, 'qn': 2},
 3: {'billi': 3, 'name': 'jyoti', 'price': 12, 'qn': 2}}

In [6]:
import time

t = time.ctime()

In [7]:
t

'Mon Sep  6 14:26:05 2021'

In [8]:
dct[6] = {'billi': 123, 'name': 'ashish', 'price': 12, 'qn': 32, 'ex_date' : t}

In [9]:
dct

{1: {'billi': 1, 'name': 'rosh', 'price': 22, 'qn': 47},
 2: {'billi': 2, 'name': 'mann', 'price': 32, 'qn': 2},
 3: {'billi': 3, 'name': 'jyoti', 'price': 12, 'qn': 2},
 6: {'billi': 123,
  'ex_date': 'Mon Sep  6 14:26:05 2021',
  'name': 'ashish',
  'price': 12,
  'qn': 32}}

In [10]:
'1' in dct.keys()

False

In [11]:
dct

{1: {'billi': 1, 'name': 'rosh', 'price': 22, 'qn': 47},
 2: {'billi': 2, 'name': 'mann', 'price': 32, 'qn': 2},
 3: {'billi': 3, 'name': 'jyoti', 'price': 12, 'qn': 2},
 6: {'billi': 123,
  'ex_date': 'Mon Sep  6 14:26:05 2021',
  'name': 'ashish',
  'price': 12,
  'qn': 32}}

In [12]:
dct = {1: {'prod_id': ui_prod, 'name': ['cake','coffee','candy'], 'price': [300,50,5 ], 'qn': ui_qn}}

NameError: ignored

In [13]:
dct[1]['prod_id']

KeyError: ignored

In [ ]:
ui_prod = []
ui_qn = []

for i in range(100):
  ui_prod.append(input("Enter prod ID: "))
  ui_qn.append(input("Enter prod QN: "))

  op = input("Y/N")

  if(op == "N"):
    break

In [ ]:
ui_prod

In [ ]:
data = {'record': { 1 : {'prod_id': ui_prod, 'name': ['cake','coffee','candy'], 'price': [300,50,5 ], 'qn': ui_qn}},
        

        'transection' : {'prod_id': ui_prod, 'name': ['cake','coffee','candy'], 'price': [300,50,5 ], 'qn': ui_qn}}

In [ ]:
data['record']

In [ ]:
data